<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h2>Songs</h2>
<%= link_to "Songs Index", song_index_path %>
<h2>Download Queue</h2>
<%= link_to "Download Queue Index", download_queue_index_path %>
<h2>Api Auth</h2>
<%= link_to "API Credentials", youtube_api_show_path %>
<h2>Jobs</h2>